{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 class="mb-5">Commandes</h1>

		<table class="table mb-5">
			<thead class="table-dark">
				<tr>
					<td>Date commande</td>
					<td>Nombre d'articles
					</td>
					<td>Total
					</td>
				</tr>
			</thead>

			{% if commandes %}
				<tbody>


					{% for commande in commandes %}
						<tr>
							<td>{{ commande.dateCommande.format('d/m/Y') }}</td>
							{% set total = 0 %}
							{% for ligne in commande.ligneCommandes %}
								{% set totalArticle = ligne.quantiteCommandee * ligne.article.prixUnitaire %}
								{% set total = total + totalArticle %}
							{% endfor %}
							<td>
								{{ commande.ligneCommandes | length }}
							</td>
							<td>
								{{ total }}
							</td>
						</tr>
					{% endfor %}

				</tbody>
				<tbody>
				{% else %}
					<h2>Panier vide</h2>
			{% endif %}

		</table>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<a href="/">Continuer vos achats</a>
				</div>

			</div>
		</div>


	</div>
{% endblock %}
